.message_block {
  height: calc(100vh - 90px);
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: unset;
}

.message_block::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
 
.message_block::-webkit-scrollbar-track {
  display: none;
}
 
.message_block::-webkit-scrollbar-thumb {
  background-color: rgba($color: #000000, $alpha: 0.1);
  border-radius: 4px;
}