<div class="title_part d-flex align-items-center" (click)="hideOrShowContent()">
  <img src="../../../assets/icons/chevron_down.svg" class="msg_arrow" [ngClass]="hideUsers ? 'msg_arrow_rotate' : ''">
  <h4 class="title">Direct Messages</h4>
</div>
<div class="user_part" [ngClass]="hideUsers ? 'd-none' : ''">
  <div class="single_user d-flex align-items-center" *ngFor="let user of users" (click)="selectUser(user.id)"
    [ngClass]="userIsSelected && user.id == selectedUser ? 'selectedUser' : ''">
    <div class="user_image_block">
      <img src="../../../assets/icons/user_icon.svg" class="user_icon">
      <div class="active_status"></div>
    </div>
    <p class="user_name">{{user.firstname}} {{user.lastname}}</p>
  </div>
</div>