<div class="title_part d-flex align-items-center">
  <img src="../../../assets/icons/chevron_down.svg" class="msg_arrow">
  <h4 class="title">Direct Messages</h4>
</div>
<div class="user_part">
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
  <div class="single_user d-flex align-items-center">
    <img src="../../../assets/icons/user_icon.svg" class="user_icon">
    <p class="user_name">Marine Galstyan</p>
  </div>
</div>