$color-active-status: #73CA1A;
$side-menu-background: #EDF4F6;
$info-border-color: #A1CEDB;
$side-menu-header-background: rgba(215,230,235, 0.3);
$header-background-color: #F6FAFB;
$header-input-background: #DAE4E7;
$hover-background-color: #B0DAE6;
$channel-hover-background: #DBECF1;
$sender-message-container: #D1F2FB;
$selected-user-background: #00A3E3